<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
      <!--日志文件输出路径-->
      <add key="logPath" value="D:\DAQWorkSpace\01DZLL\AAAAA\Mesnac.MESWeb\WMSServiceQG\WMSServiceQG\bin\Debug"/>
      <!--WMS数据发送频率-->
      <add key="WMSSend" value="10000"/>
  </appSettings>
</configuration>
