<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Mesnac.FrameDb.Mapper.BusinessMapper.McUI"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <statements>
        <select id="Select@SearchBoxSbmMaterialSemis" parameterClass="map" resultClass="row">
            <![CDATA[ 
      SELECT t.*,t1.MINOR_TYPE_NAME FROM SBM_MATERIAL T left join sbm_material_minor_type t1 on t.minor_type_id=t1.objid WHERE T.MINOR_TYPE_ID!=1 and T.MINOR_TYPE_ID!=3 and T.delete_flag=0
            ]]>
            <dynamic>
                <isNotNull property="where.SAP_CODE" prepend="AND">
                    T.SAP_CODE like '%'||#where.SAP_CODE#||'%'
                </isNotNull>
                <isNotNull property="where.MATERIAL_NAME" prepend="AND">
                    T.MATERIAL_NAME like '%'||#where.MATERIAL_NAME#||'%'
                </isNotNull>
                <isNotNull property="where.MINOR_TYPE_NAME" prepend="AND">
                  T1.MINOR_TYPE_NAME like '%'||#where.MINOR_TYPE_NAME#||'%'
                </isNotNull>
            </dynamic>
            <isNotNull property="OrderString" prepend="">
                ORDER BY T.$OrderString$
            </isNotNull>
        </select>
    </statements>
</sqlMap>
