<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ClientDataServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ClientDataServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://172.20.254.22:8088/TYRE-QUALITY/Quality/ClientDataService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ClientDataServiceSoap"
                contract="ServiceReference1.ClientDataServiceSoap" name="ClientDataServiceSoap" />
            <endpoint address="http://172.20.254.22:8088/TYRE-QUALITY/Quality/ClientDataService.asmx"
                binding="customBinding" bindingConfiguration="ClientDataServiceSoap12"
                contract="ServiceReference1.ClientDataServiceSoap" name="ClientDataServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>