<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Mesnac.FrameDb.Mapper.BusinessMapper.McUI"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <statements>
    <select id="Select@ReportPsmTyreState" parameterClass="map" resultClass="row">
      <![CDATA[    
     select distinct t1.objid,t1.tyre_no,t1.green_tyre_no,t0.green_tyre_no  Tyre_GREEN_TYRENO,t1.material_name,t1.plan_material_name,t1.curing_time,t1.x_time,t1.fcheck_time,t1.xcheck_grade,t1.fcheck_grade,t1.fcheck_new
       from(    
      select t0.objid,t0.tyre_no,t0.green_tyre_no 
      ,t2.material_name,t6.material_name plan_material_name 
      , t0.record_time CURING_TIME,t3.record_time x_time,t4.record_time fcheck_time
      , t3.gradeid XCHECK_GRADE, case t3.new_flag when 0 then '经过改判' when 1 then '是' end as XCHECK_NEW,
      case t4.gradeid when 1 then '一级品' when 2 then '二级品' when 3 then '废品' when 4 then '特废品' when 5 then '返修品' end as FCHECK_GRADE,
      case t4.new_flag when 0 then '经过改判' when 1 then '是' end as FCHECK_NEW
      from spp_tyre_state t0      
      left join cpp_curing_production t1  on t0.tyre_no=t1.tyre_no
      left join sbm_material t2 on t1.material_id=t2.objid
      inner join fqx_xcheck_info t3 on t0.tyre_no =t3.tyrdid
      inner join fqf_fcheck_info t4 on t0.tyre_no=t4.tyreid
      left join cpp_curing_plan_detail t5 on t1.plan_detail_id=t5.objid 
      left join sbm_material t6 on t5.material_id=t6.objid
      where t0.delete_flag=0
       UNION 

    select t0.objid,t0.tyre_no,t0.green_tyre_no 
      ,t5.material_name,t7.material_name plan_material_name
      ,t0.record_time CURING_TIME,t3.record_time x_time,t4.record_time fcheck_time
      , t3.gradeid XCHECK_GRADE, case t3.new_flag when 0 then '经过改判' when 1 then '是' end as XCHECK_NEW,
      case t4.gradeid when 1 then '一级品' when 2 then '二级品' when 3 then '废品' when 4 then '特废品' when 5 then '返修品' end as FCHECK_GRADE,
      case t4.new_flag when 0 then '经过改判' when 1 then '是' end as FCHECK_NEW
      from spp_tyre_state t0
      left join cpp_curing_production t1 on t0.tyre_no=t1.tyre_no
      left join bpm_production t2 on t0.green_tyre_no=t2.green_tyre_no
      inner join fqx_xcheck_info t3 on t0.green_tyre_no=t3.tyrdid 
      inner join fqf_fcheck_info t4 on t0.green_tyre_no=t4.tyreid
      left join sbm_material t5 on t1.material_id=t5.objid
      left join cpp_curing_plan_detail t6 on t1.plan_detail_id=t6.objid 
       left join sbm_material t7 on t6.material_id=t7.objid
       where t0.delete_flag=0
      )t1 
       left join spp_tyre_state t0 on t0.tyre_no =t1.tyre_no  
            
	]]>	
	<dynamic prepend="WHERE">
		<isNotNull property="where.BeginDate" prepend="AND">
          <![CDATA[T1.CURING_TIME >= #where.BeginDate#]]>
        </isNotNull>
        <isNotNull property="where.EndDate" prepend="AND">
          <![CDATA[T1.CURING_TIME <= #where.EndDate#+1]]>
        </isNotNull>
        <isNotNull property="where.GreenTyreNo" prepend="AND">
          <![CDATA[T1.green_tyre_no = #where.GreenTyreNo#]]>
        </isNotNull>        	
		   <isNotNull property="where.TyreNo" prepend="AND">
          <![CDATA[T1.tyre_no = #where.TyreNo#]]>
       	 </isNotNull>        
      	<isNotNull property="OrderString" prepend=" ">
        ORDER BY $OrderString$
      	</isNotNull>      	
  </dynamic>
</select>    
    
    <select id="Select@ReportPsmTyreState@MainDetail" parameterClass="map" resultClass="row">
      <![CDATA[
        SELECT T1.OBJID,T1.RECORD_TIME,T1.DELETE_FLAG,T1.TYRE_NO,T1.GREEN_TYRE_NO,T1.TYRE_STATE FROM  SPP_TYRE_STATE T1
      ]]>
      <dynamic prepend="WHERE">
      <![CDATA[(T1.OBJID = #where.OBJID#)]]>
      </dynamic>
    </select>


  </statements>
</sqlMap>
