<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<properties>
    <property key="datasource" value="172.20.254.38" />
    <property key="database" value="MENS" />
    <property key="userid" value="sa" />
    <property key="password" value="mesnac@123" />
    
		<!--<property key="SERVER_HOST" value="172.16.12.22" />
		<property key="SERVER_PORT" value="1433" />
		<property key="SERVICE_NAME" value="DZMENS" />
		<property key="User_Id" value="sa" />
		<property key="Password" value="mesnac@123" />-->
	</properties>

	<settings>
		<setting cacheModelsEnabled="true"/>
		<setting validateSqlMap="false"/>
		<setting useReflectionOptimizer="true"/>
	</settings>
	<providers uri="file://config/providers.config"/>
	<database>
		<provider name="sqlServer2.0"/>
		<!--<dataSource name="MENSDB" connectionString="Data Source=${SERVER_HOST};database=${SERVICE_NAME};User Id=${User_Id};Password=${Password};"/>-->
    <dataSource name="MESDB" connectionString="data source=${datasource};database=${database};uid=${userid};pwd=${password}"/>
	</database>
</sqlMapConfig>

