<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Mesnac.FrameDb.Mapper.BusinessMapper.McUI"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <statements>
        <select id="Select@ReportLLTech" parameterClass="map" resultClass="row">
            <![CDATA[ 
           SELECT * FROM (SELECT * FROM (SELECT DISTINCT T1.*,T2.TYPE_NAME,T3.PARM_TYPE_NAME,T4.TECH_COLOR_NAME AS COLORNAMEU5,T5.TECH_COLOR_NAME AS COLORNAMEU4
,T6.TECH_COLOR_NAME AS COLORNAMEU3,T7.TECH_COLOR_NAME AS COLORNAMEU2,T8.TECH_COLOR_NAME AS COLORNAMEU1
,T9.TECH_COLOR_NAME AS COLORNAMED5,T10.TECH_COLOR_NAME AS COLORNAMED4,T11.TECH_COLOR_NAME AS COLORNAMED3
,T12.TECH_COLOR_NAME AS COLORNAMED2,T13.TECH_COLOR_NAME AS COLORNAMED1,TM.MATERIAL_FULL_NAME,nvl(T17.DELETE_FLAG,'停用') as DELETE_FLAG_X FROM CPT_CURING_TECH_DATA  T1
            INNER JOIN CPT_CURING_TECH_TYPE T2 ON T1.TECH_TYPE=T2.OBJID
            INNER JOIN CPT_CURING_TECH_PARM_TYPE T3 ON T1.PARM_TYPE=T3.OBJID
            left JOIN cpt_curing_tech_parm_color T4 ON T1.size_mark_line_u5=T4.TECH_COLOR_CODE
            left JOIN cpt_curing_tech_parm_color T5 ON T1.size_mark_line_u4=T5.TECH_COLOR_CODE
            left JOIN cpt_curing_tech_parm_color T6 ON T1.size_mark_line_u3=T6.TECH_COLOR_CODE
            left JOIN cpt_curing_tech_parm_color T7 ON T1.size_mark_line_u2=T7.TECH_COLOR_CODE
            left JOIN cpt_curing_tech_parm_color T8 ON T1.size_mark_line_u1=T8.TECH_COLOR_CODE
            left JOIN cpt_curing_tech_parm_color T9 ON T1.size_mark_line_D5=T9.TECH_COLOR_CODE
            left JOIN cpt_curing_tech_parm_color T10 ON T1.size_mark_line_D4=T10.TECH_COLOR_CODE
            left JOIN cpt_curing_tech_parm_color T11 ON T1.size_mark_line_D3=T11.TECH_COLOR_CODE
            left JOIN cpt_curing_tech_parm_color T12 ON T1.size_mark_line_D2=T12.TECH_COLOR_CODE
            left JOIN cpt_curing_tech_parm_color T13 ON T1.size_mark_line_D1=T13.TECH_COLOR_CODE
            LEFT JOIN SBM_MATERIAL TM ON TM.OBJID = T1.MATERIAL_ID
            LEFT join (
Select distinct t1.material_parent_id,t1.GREENTYRE_VERSION
               ,t2.sap_code,      
               CASE  T1.DELETE_FLAG WHEN 1 THEN '停用' WHEN 0 THEN '正常'  END AS DELETE_FLAG
          from SBM_BOM_DATA t1
          inner join SBM_MATERIAL t2 on t1.material_parent_id = t2.objid where t1.DELETE_FLAG = 0
           ) t17 on t17.sap_code=t1.material_SAP_CODE and t17.GREENTYRE_VERSION = t1.pdm_version
            WHERE T1.DELETE_FLAG=0
            order by t1.material_name,t1.PDM_VERSION)
            UNION ALL            
            SELECT null,pdm_code,objid,material_name,sap_code,null,null,null,null,null,null,null,null,null,
            null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,
            null,null,null,null,null,null,null,null,null,null,
            null,null,null,null,null,null,null,null,null,null,
            null,null,null,null,null,null,null,null,null,null,
            null,null,null,null,null,null,null,null,null,null,
            null,null,null,null,null,null,null,null,null,null,
            null,null,null,null,null,null,null,null,null,null,
            null,NULL,material_full_name,null FROM sbm_material T14 WHERE T14.DELETE_FLAG=0 AND T14.MAJOR_TYPE_ID=41 AND
            NOT EXISTS(SELECT * FROM   cpt_curing_tech_data T15 WHERE T14.OBJID=T15.material_id AND T15.DELETE_FLAG=0)) T16
            ]]>
            <dynamic prepend="WHERE">
                <isNotNull property="where.PDM_CODE" prepend="AND">
                    <![CDATA[T16.PDM_CODE LIKE '%' || #where.PDM_CODE# || '%']]>
                </isNotNull>
                <isNotNull property="where.MATERIAL_SAP_CODE" prepend="AND">
                    <![CDATA[T16.MATERIAL_SAP_CODE LIKE '%' || #where.MATERIAL_SAP_CODE# || '%']]>
                </isNotNull>
            </dynamic>
            <!--order by t1.material_name,t1.PDM_VERSION-->
        </select>
        <select id="Select@ReportLLTech@MainDetail" parameterClass="map" resultClass="row">
            <![CDATA[ 
          SELECT * FROM (SELECT * FROM (SELECT DISTINCT T1.*,T2.TYPE_NAME,T3.PARM_TYPE_NAME,T4.TECH_COLOR_NAME AS COLORNAMEU5,T5.TECH_COLOR_NAME AS COLORNAMEU4
,T6.TECH_COLOR_NAME AS COLORNAMEU3,T7.TECH_COLOR_NAME AS COLORNAMEU2,T8.TECH_COLOR_NAME AS COLORNAMEU1
,T9.TECH_COLOR_NAME AS COLORNAMED5,T10.TECH_COLOR_NAME AS COLORNAMED4,T11.TECH_COLOR_NAME AS COLORNAMED3
,T12.TECH_COLOR_NAME AS COLORNAMED2,T13.TECH_COLOR_NAME AS COLORNAMED1,TM.MATERIAL_FULL_NAME,nvl(T17.DELETE_FLAG,'停用') as DELETE_FLAG_X FROM CPT_CURING_TECH_DATA  T1
            INNER JOIN CPT_CURING_TECH_TYPE T2 ON T1.TECH_TYPE=T2.OBJID
            INNER JOIN CPT_CURING_TECH_PARM_TYPE T3 ON T1.PARM_TYPE=T3.OBJID
            left JOIN cpt_curing_tech_parm_color T4 ON T1.size_mark_line_u5=T4.TECH_COLOR_CODE
            left JOIN cpt_curing_tech_parm_color T5 ON T1.size_mark_line_u4=T5.TECH_COLOR_CODE
            left JOIN cpt_curing_tech_parm_color T6 ON T1.size_mark_line_u3=T6.TECH_COLOR_CODE
            left JOIN cpt_curing_tech_parm_color T7 ON T1.size_mark_line_u2=T7.TECH_COLOR_CODE
            left JOIN cpt_curing_tech_parm_color T8 ON T1.size_mark_line_u1=T8.TECH_COLOR_CODE
            left JOIN cpt_curing_tech_parm_color T9 ON T1.size_mark_line_D5=T9.TECH_COLOR_CODE
            left JOIN cpt_curing_tech_parm_color T10 ON T1.size_mark_line_D4=T10.TECH_COLOR_CODE
            left JOIN cpt_curing_tech_parm_color T11 ON T1.size_mark_line_D3=T11.TECH_COLOR_CODE
            left JOIN cpt_curing_tech_parm_color T12 ON T1.size_mark_line_D2=T12.TECH_COLOR_CODE
            left JOIN cpt_curing_tech_parm_color T13 ON T1.size_mark_line_D1=T13.TECH_COLOR_CODE
            LEFT JOIN SBM_MATERIAL TM ON TM.OBJID = T1.MATERIAL_ID
            LEFT join (
Select distinct t1.material_parent_id,t1.GREENTYRE_VERSION
               ,t2.sap_code,      
               CASE  T1.DELETE_FLAG WHEN 1 THEN '停用' WHEN 0 THEN '正常'  END AS DELETE_FLAG
          from SBM_BOM_DATA t1
          inner join SBM_MATERIAL t2 on t1.material_parent_id = t2.objid where t1.DELETE_FLAG = 0
           ) t17 on t17.sap_code=t1.material_SAP_CODE and t17.GREENTYRE_VERSION = t1.pdm_version
            WHERE T1.DELETE_FLAG=0
            order by t1.material_name,t1.PDM_VERSION)
            UNION ALL            
            SELECT null,pdm_code,objid,material_name,sap_code,null,null,null,null,null,null,null,null,null,
            null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,
            null,null,null,null,null,null,null,null,null,null,
            null,null,null,null,null,null,null,null,null,null,
            null,null,null,null,null,null,null,null,null,null,
            null,null,null,null,null,null,null,null,null,null,
            null,null,null,null,null,null,null,null,null,null,
            null,null,null,null,null,null,null,null,null,null,
            null,NULL,material_full_name,null FROM sbm_material T14 WHERE T14.DELETE_FLAG=0 AND T14.MAJOR_TYPE_ID=41 AND
            NOT EXISTS(SELECT * FROM   cpt_curing_tech_data T15 WHERE T14.OBJID=T15.material_id AND T15.DELETE_FLAG=0)) T16
            ]]>
            <dynamic prepend="WHERE">
                <isNotNull property="where.OBJID" prepend="AND">
                    <![CDATA[T16.OBJID = #where.OBJID#]]>
                </isNotNull>
            </dynamic>
        </select>
    </statements>
</sqlMap>
