<?xml version="1.0" encoding="utf-8"?>
<Setting>
  <Item Key="IP">
    <value>192.168.1.139</value>
  </Item>
  <Item Key="DBName">
    <value>MENS</value>
  </Item>
  <Item Key="UserID">
    <value>sa</value>
  </Item>
  <Item Key="Password">
    <value>yfgh@123</value>
  </Item>
  <Item Key="IP_BZP">
    <value>192.168.70.250</value>
  </Item>
  <Item Key="DBName_BZP">
    <value>FSACSERP</value>
  </Item>
  <Item Key="UserID_BZP">
    <value>dbsystem</value>
  </Item>
  <Item Key="Password_BZP">
    <value>fsmes</value>
  </Item>
</Setting>