<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Mesnac.FrameDb.Mapper.BusinessMapper.McUI"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <statements>
    <select id="Select@CrudBsmStorePlace" parameterClass="map" resultClass="row">
      <![CDATA[
        SELECT T1.* 
        , CASE T1.STORE_FLAG WHEN 0 THEN '入库' WHEN 1 THEN '出库' ELSE '无' END STORE_FLAG_CAPTION
        , CASE T1.STORE_PLACE_TYPE WHEN 99 THEN '虚拟' WHEN 1 THEN '正常' WHEN 2 THEN '返修' ELSE '' END STORE_PLACE_TYPE_CAPTION
        , T2.USER_NAME RECORD_USER_NAME 
        , T3.STORE_NAME
        , T4.MATERIAL_NAME
        FROM BSM_STORE_PLACE T1 
        LEFT JOIN SSB_USER T2 ON T1.RECORD_USER_ID = T2.OBJID 
        LEFT JOIN BSM_STORE T3 ON T1.STORE_ID = T3.OBJID 
        LEFT JOIN SBM_MATERIAL T4 ON T1.MATERIAL_ID = T4.OBJID
      ]]>
      <dynamic prepend="WHERE">
        <isNotNull property="where.OBJID" prepend="AND">
          <![CDATA[T1.OBJID = #where.OBJID#]]>
        </isNotNull>
        <isNotNull property="where.STORE_PLACE_NAME" prepend="AND">
          <![CDATA[T1.STORE_PLACE_NAME LIKE '%' || #where.STORE_PLACE_NAME# || '%']]>
        </isNotNull>
        <isNotNull property="where.STORE_PLACE_CODE" prepend="AND">
          <![CDATA[T1.STORE_PLACE_CODE LIKE '%' || #where.STORE_PLACE_CODE# || '%' ]]>
        </isNotNull>
        <isNotNull property="where.STORE_ID" prepend="AND">
          <![CDATA[T1.STORE_ID = #where.STORE_ID#]]>
        </isNotNull>
        <isNotNull property="where.DELETE_FLAG" prepend="AND">
          <![CDATA[T1.DELETE_FLAG = #where.DELETE_FLAG#]]>
        </isNotNull>
      </dynamic>
      <isNotNull property="OrderString" prepend=" ">
        ORDER BY $OrderString$
      </isNotNull>
      <isNull property="OrderString" prepend=" ">
        ORDER BY T3.STORE_TYPE, T3.STORE_NAME, T1.STORE_PLACE_NAME
      </isNull>
    </select>
    <select id="Select+Update@CrudBsmStorePlace" parameterClass="map" resultClass="row">
      <![CDATA[
        SELECT T1.*, T2.MATERIAL_NAME 
        FROM BSM_STORE_PLACE T1 
        LEFT JOIN SBM_MATERIAL T2 ON T1.MATERIAL_ID = T2.OBJID
      ]]>
      <dynamic prepend="WHERE">
        <![CDATA[T1.OBJID = #OBJID#]]>
      </dynamic>
    </select>

    <!--查询仓库信息，ID值固定为GetComboBoxData@Select@CrudBsmStorePlace@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@CrudBsmStorePlace@STORE_ID" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      select t1.OBJID sskey, t1.STORE_NAME ssValue from BSM_STORE t1 where t1.DELETE_FLAG = 0 and t1.STORE_TYPE = 1
     ]]>
      <isNotNull property="OrderString" prepend="">
        ORDER BY $OrderString$
      </isNotNull>
      <isNull property="OrderString" prepend="">
        order by t1.OBJID
      </isNull>
    </select>

    <!--查询仓库信息，ID值固定为GetComboBoxData@Select@CrudBsmStorePlace@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@CrudBsmStorePlace@STORE_FLAG" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      select 0 sskey, '入库' ssValue from dual
      union
      select 1 sskey, '出库' ssValue from dual
     ]]>
      <isNotNull property="OrderString" prepend="">
        ORDER BY $OrderString$
      </isNotNull>
      <isNull property="OrderString" prepend="">
        order by sskey
      </isNull>
    </select>

    <!--查询库位类型信息，ID值固定为GetComboBoxData@Select@CrudBsmStorePlace@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@CrudBsmStorePlace@STORE_PLACE_TYPE" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      select 1 sskey, '正常' ssValue from dual
      --union
      --select 2 sskey, '返修' ssValue from dual
      --union
      --select 99 sskey, '虚拟' ssValue from dual
     ]]>
      <isNotNull property="OrderString" prepend="">
        ORDER BY $OrderString$
      </isNotNull>
      <isNull property="OrderString" prepend="">
        order by sskey
      </isNull>
    </select>

  </statements>
</sqlMap>
