<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Mesnac.FrameDb.Mapper.BusinessMapper.McUI"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <statements>
    <select id="Select@ReportPsmTransferMain" parameterClass="map" resultClass="row">
      <![CDATA[
        SELECT 
        CASE T1.CHECK_GRADE_CODE WHEN 1 THEN '合格品' WHEN 2 THEN '次品' WHEN 3 THEN '废品' WHEN 4 THEN '特废品' WHEN 9 THEN '试验胎' ELSE '无品级' END CHECK_GRADE_NAME 
        , T1.*
        , CASE T3.MOV_TYPE WHEN '311' THEN '第三方库调拨单' WHEN 'Z07' THEN '赠品调拨单' WHEN 'Z03' THEN '理赔调拨单' ELSE '' END BILL_TYPE_CAPTION
        , CASE T1.MAIN_STATE WHEN 0 THEN '新建' WHEN 1 THEN '已确认' ELSE '' END MAIN_STATE_CAPTION
        , T2.USER_NAME RECORD_USER_NAME
        , TO_DATE(T3.DEMONDS_DATE, 'YYYYMMDD') DEMONDS_DATE_SHOW
        , T3.TRANSFER_DATE
        , CASE T3.MOV_TYPE WHEN 'Z07' THEN T4.CUSTOME_NAME ELSE '' END CUSTOMER_NAME
        , T5.MATERIAL_NAME
        , T7.USER_NAME UPDATE_USER_NAME
        , T8.USER_NAME AFFIRM_USER_NAME
        , T9.TYRE_NO
        , T9.GREEN_TYRE_NO
        FROM PSM_TRANSFER_MAIN T1
        LEFT JOIN SSB_USER T2 ON T1.RECORD_USER_ID = T2.OBJID
        LEFT JOIN PSM_TRANSFER_BILL T3 ON T1.BILL_ID = T3.OBJID
        LEFT JOIN PSB_CUSTOMER T4 ON T3.DEPARTMENT = T4.CUSTOMER_ID AND T3.MOV_TYPE = 'Z07'
        LEFT JOIN SBM_MATERIAL T5 ON T1.MATERIAL_ID = T5.OBJID
        LEFT JOIN SSB_USER T7 ON T1.UPDATE_USER_ID = T7.OBJID
        LEFT JOIN SSB_USER T8 ON T1.AFFIRM_USER_ID = T8.OBJID
        LEFT JOIN PSM_TRANSFER_DETAIL T9 ON T9.BILL_ID = T1.BILL_ID AND T9.MAIN_ID = T1.OBJID  
      ]]>
      <dynamic prepend="WHERE">
        <isNotNull property="where.MANY_TYRE_NO_INFOR" prepend="AND">
          <![CDATA[
            T9.TYRE_NO IN($where.MANY_TYRE_NO_INFOR$)
          ]]>
        </isNotNull>
        <isNull property="where.TyreNo">
          <isNotNull property="where.OBJID" prepend="AND">
            <![CDATA[T1.OBJID = #where.OBJID#]]>
          </isNotNull>
          <isNotNull property="where.BeginDate" prepend="AND">
            <![CDATA[T3.DEMONDS_DATE >= TO_CHAR(#where.BeginDate#, 'YYYYMMDD')]]>
          </isNotNull>
          <isNotNull property="where.EndDate" prepend="AND">
            <![CDATA[T3.DEMONDS_DATE <= TO_CHAR(#where.EndDate#, 'YYYYMMDD')]]>
          </isNotNull>
          <isNotNull property="where.BeginTransferDate" prepend="AND">
            <![CDATA[T3.TRANSFER_DATE >= #where.BeginTransferDate#]]>
          </isNotNull>
          <isNotNull property="where.EndTransferDate" prepend="AND">
            <![CDATA[T3.TRANSFER_DATE <= #where.EndTransferDate#]]>
          </isNotNull>
          <isNotNull property="where.BeginTime" prepend="AND">
            <![CDATA[T1.AFFIRM_TIME >= #where.BeginTime#]]>
          </isNotNull>
          <isNotNull property="where.EndTime" prepend="AND">
            <![CDATA[T1.AFFIRM_TIME <= #where.EndTime#]]>
          </isNotNull>
          <isNotNull property="where.ReserNo" prepend="AND">
            <![CDATA[T3.RESER_NO = #where.ReserNo#]]>
          </isNotNull>
          <isNotNull property="where.CustomerId" prepend="AND">
            <![CDATA[T3.CUSTOMER_ID = #where.CustomerId#]]>
          </isNotNull>
          <isNotNull property="where.BillType" prepend="AND">
            <![CDATA[T3.MOV_TYPE = #where.BillType#]]>
          </isNotNull>
          <isNotNull property="where.MainState" prepend="AND">
            <![CDATA[T1.MAIN_STATE = #where.MainState#]]>
          </isNotNull>
          <isNotNull property="where.CustomerName" prepend="AND">
            <![CDATA[T4.CUSTOME_NAME like '%' || #where.CustomerName# || '%']]>
          </isNotNull>
          <isNotNull property="where.MaterialName" prepend="AND">
            <![CDATA[T5.MATERIAL_NAME like '%' || #where.MaterialName# || '%']]>
          </isNotNull>
          <isNotNull property="where.AffirmUserName" prepend="AND">
            <![CDATA[T8.USER_NAME like '%' || #where.AffirmUserName# || '%']]>
          </isNotNull>
          <isNotNull property="where.MANY_GREEN_TYRE_NO_INFOR" prepend="AND">
            <![CDATA[T9.GREEN_TYRE_NO = #where.MANY_GREEN_TYRE_NO_INFOR#]]>
          </isNotNull>
        </isNull>
        <isNotNull property="where.DELETE_FLAG" prepend="AND">
          <![CDATA[T1.DELETE_FLAG = #where.DELETE_FLAG# AND T3.DELETE_FLAG = #where.DELETE_FLAG# AND T9.DELETE_FLAG = #where.DELETE_FLAG#]]>
        </isNotNull>
      </dynamic>
      <isNotNull property="OrderString" prepend=" ">
        ORDER BY $OrderString$
      </isNotNull>
      <isNull property="OrderString" prepend=" ">
        ORDER BY T3.DEMONDS_DATE, T3.RESER_NO, T1.RESER_ITEM
      </isNull>
    </select>
    <select id="Select+Update@ReportPsmTransferMain" parameterClass="map" resultClass="row">
      <![CDATA[SELECT * FROM PSM_TRANSFER_MAIN ]]>
      <dynamic prepend="WHERE">
        <![CDATA[(OBJID = #OBJID#)]]>
      </dynamic>
    </select>

    <select id="Select@ReportPsmTransferMain@MainDetail" parameterClass="map" resultClass="row">
      <![CDATA[
        SELECT T1.*
        , CASE T3.MOV_TYPE WHEN '311' THEN '第三方库调拨单' WHEN 'Z07' THEN '赠品调拨单' WHEN 'Z03' THEN '理赔调拨单' ELSE '' END BILL_TYPE_CAPTION
        , CASE T1.MAIN_STATE WHEN 0 THEN '新建' WHEN 1 THEN '已确认' ELSE '' END MAIN_STATE_CAPTION
        , CASE T1.CHECK_GRADE_CODE WHEN 1 THEN '合格品' WHEN 2 THEN '次品' WHEN 3 THEN '废品' WHEN 4 THEN '特废品' WHEN 9 THEN '试验胎' ELSE '无品级' END CHECK_GRADE_NAME 
        , T2.USER_NAME RECORD_USER_NAME
        , TO_DATE(T3.DEMONDS_DATE, 'YYYYMMDD') DEMONDS_DATE_SHOW
        , T3.TRANSFER_DATE
        , CASE T3.MOV_TYPE WHEN 'Z07' THEN T4.CUSTOME_NAME ELSE '' END CUSTOMER_NAME
        , T5.MATERIAL_NAME
        , T7.USER_NAME UPDATE_USER_NAME
        , T8.USER_NAME AFFIRM_USER_NAME
        FROM PSM_TRANSFER_MAIN T1
        LEFT JOIN SSB_USER T2 ON T1.RECORD_USER_ID = T2.OBJID
        LEFT JOIN PSM_TRANSFER_BILL T3 ON T1.BILL_ID = T3.OBJID
        LEFT JOIN PSB_CUSTOMER T4 ON T3.DEPARTMENT = T4.CUSTOMER_ID AND T3.MOV_TYPE = 'Z07'
        LEFT JOIN SBM_MATERIAL T5 ON T1.MATERIAL_ID = T5.OBJID
        LEFT JOIN SSB_USER T7 ON T1.UPDATE_USER_ID = T7.OBJID
        LEFT JOIN SSB_USER T8 ON T1.AFFIRM_USER_ID = T8.OBJID
      ]]>
      <dynamic prepend="WHERE">
        <![CDATA[(T1.OBJID = #where.OBJID#)]]>
      </dynamic>
    </select>


    <select id="Select@ReportPsmTransferMain@DetailGrid" parameterClass="map" resultClass="row">
      <![CDATA[
        SELECT T1.*
        , CASE T1.DETAIL_STATE WHEN 0 THEN '未确认' WHEN 1 THEN '已确认' ELSE '' END DETAIL_STATE_CAPTION
        , CASE T4.CHECK_GRADE_CODE WHEN 1 THEN '合格品' WHEN 2 THEN '次品' WHEN 3 THEN '废品' WHEN 4 THEN '特废品' WHEN 9 THEN '试验胎' ELSE '无品级' END CHECK_GRADE_NAME 
        , T2.USER_NAME RECORD_USER_NAME
        , T4.RESER_ITEM, T4.STOR_LOC_FROM, T4.STOR_LOC_TO
        , T5.STORE_NAME
        , T6.STORE_PLACE_NAME
        , T7.USER_NAME UPDATE_USER_NAME
        , T8.USER_NAME AFFIRM_USER_NAME
        , T9.RESER_NO
        , T10.MATERIAL_NAME
        FROM PSM_TRANSFER_DETAIL T1
        LEFT JOIN SSB_USER T2 ON T1.RECORD_USER_ID = T2.OBJID
        LEFT JOIN PSM_TRANSFER_SUMMARY T3 ON T1.SUMMARY_ID = T3.OBJID AND T1.MAIN_ID = T3.MAIN_ID AND T1.BILL_ID = T3.BILL_ID
        LEFT JOIN PSM_TRANSFER_MAIN T4 ON T1.MAIN_ID = T4.OBJID AND T1.BILL_ID = T4.BILL_ID
        LEFT JOIN PSB_STORE T5 ON T3.STORE_ID = T5.OBJID
        LEFT JOIN PSB_STORE_PLACE T6 ON T3.STORE_PLACE_ID = T6.OBJID
        LEFT JOIN SSB_USER T7 ON T3.UPDATE_USER_ID = T7.OBJID
        LEFT JOIN SSB_USER T8 ON T3.AFFIRM_USER_ID = T8.OBJID
        LEFT JOIN PSM_TRANSFER_BILL T9 ON T1.BILL_ID = T9.OBJID
        LEFT JOIN SBM_MATERIAL T10 ON T3.MATERIAL_ID = T10.OBJID
      ]]>
      <dynamic prepend="WHERE">
        <![CDATA[
        T1.DELETE_FLAG = 0
        AND T1.MAIN_ID = #where.OBJID#
        ]]>
      </dynamic>
      <![CDATA[
        ORDER BY T5.STORE_NAME, T6.STORE_PLACE_NAME, T1.TYRE_NO 
      ]]>
    </select>

    <!--查询类型信息，ID值固定为GetComboBoxData@Select@ReportPsmTransferMain@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@ReportPsmTransferMain@SearchType" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      SELECT '1' sskey, '按需求日期' ssValue FROM dual
      UNION
      SELECT '2' sskey, '按确认时间' ssValue FROM dual
      --UNION
      --SELECT '3' sskey, '按出库日期' ssValue FROM dual
     ]]>
    </select>

    <!--查询单据状态信息，ID值固定为GetComboBoxData@Select@ReportPsmTransferMain@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@ReportPsmTransferMain@MainState" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      SELECT 0 sskey, '未确认' ssValue FROM dual
      UNION
      SELECT 1 sskey, '已确认' ssValue FROM dual
     ]]>
    </select>

    <!--查询单据类型信息，ID值固定为GetComboBoxData@Select@ReportPsmTransferMain@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@ReportPsmTransferMain@BillType" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      SELECT '311' sskey, '第三方库调拨单' ssValue FROM dual
      UNION
      SELECT 'Z07' sskey, '赠品调拨单' ssValue FROM dual
      UNION
      SELECT 'Z03' sskey, '理赔调拨单' ssValue FROM dual
     ]]>
    </select>

    <!--查询班组信息，ID值固定为GetComboBoxData@Select@ReportPsmTransferMain@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@ReportPsmTransferMain@InClassId" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      SELECT OBJID sskey, CLASS_NAME ssValue FROM SSB_CLASS WHERE DELETE_FLAG = '0' ORDER BY OBJID
     ]]>
    </select>

    <!--查询班次信息，ID值固定为GetComboBoxData@Select@ReportPsmTransferMain@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@ReportPsmTransferMain@InShiftId" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      SELECT OBJID sskey, SHIFT_NAME ssValue FROM SSB_SHIFT WHERE DELETE_FLAG = '0' ORDER BY OBJID
     ]]>
    </select>
  </statements>
</sqlMap>
