<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Mesnac.FrameDb.Mapper.BusinessMapper.McUI"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <statements>
    <select id="Select@CrudSbmMaterialMinorType" parameterClass="map" resultClass="row">
      <![CDATA[
      SELECT T1.*, T2.USER_NAME RECORD_USER_NAME, T3.MAJOR_TYPE_NAME 
      FROM SBM_MATERIAL_MINOR_TYPE T1 LEFT JOIN SSB_USER T2 ON T1.RECORD_USER_ID = T2.OBJID 
      LEFT JOIN SBM_MATERIAL_MAJOR_TYPE T3 ON T1.MAJOR_TYPE_ID = T3.OBJID
      ]]>
      <dynamic prepend="WHERE">
        <isNotNull property="where.OBJID" prepend="AND">
          <![CDATA[T1.OBJID = #where.OBJID#]]>
        </isNotNull>
        <isNotNull property="where.MINOR_TYPE_NAME" prepend="AND">
          <![CDATA[T1.MINOR_TYPE_NAME LIKE '%' || #where.MINOR_TYPE_NAME# || '%']]>
        </isNotNull>
        <isNotNull property="where.MAJOR_TYPE_ID" prepend="AND">
          <![CDATA[T1.MAJOR_TYPE_ID = #where.MAJOR_TYPE_ID#]]>
        </isNotNull>
        <isNotNull property="where.DELETE_FLAG" prepend="AND">
          <![CDATA[T1.DELETE_FLAG = #where.DELETE_FLAG#]]>
        </isNotNull>
      </dynamic>
      <isNotNull property="OrderString" prepend=" ">
        ORDER BY $OrderString$
      </isNotNull>
    </select>
    <select id="Select+Update@CrudSbmMaterialMinorType" parameterClass="map" resultClass="row">
      <![CDATA[SELECT * FROM SBM_MATERIAL_MINOR_TYPE ]]>
      <dynamic prepend="WHERE">
        <![CDATA[(OBJID = #OBJID#)]]>
      </dynamic>
    </select>

    <!--查询设备大类信息，ID值固定为GetComboBoxData@Select@CrudSbmMaterialMinorType@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@CrudSbmMaterialMinorType@MAJOR_TYPE_ID" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      select OBJID sskey,OBJID || '-' || MAJOR_TYPE_NAME ssValue from SBM_MATERIAL_MAJOR_TYPE where DELETE_FLAG = '0' order by OBJID
     ]]>
    </select>
  </statements>
</sqlMap>
