<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Mesnac.FrameDb.Mapper.BusinessMapper.McUI"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <statements>
    <select id="Select@CrudCimMouldChangeinfo" parameterClass="map" resultClass="row">
      <![CDATA[
        SELECT T1.*, T2.USER_NAME RECORD_USER_NAME 
        , T3.EQUIP_NAME, T4.SHOW_NAME EQUIP_POSITION_CAPTION, T5.MATERIAL_NAME,T6.BOM_NAME
        FROM CIM_MOULD_CHANGEINFO T1 
        LEFT JOIN SSB_USER T2 ON T1.RECORD_USER_ID = T2.OBJID
        LEFT JOIN SBE_EQUIP T3 ON T1.EQUIP_ID = T3.OBJID 
        LEFT JOIN CBE_EQUIP_POSITION T4 ON T1.EQUIP_POSITION = T4.OBJID 
        LEFT JOIN cpp_curing_mould_plan TP ON T1.CHANGE_MOLD_PLANID=TP.OBJID
        LEFT JOIN SBM_MATERIAL T5 ON TP.MATERIAL_ID = T5.OBJID 
        LEFT JOIN v_sbm_bom T6 ON TP.BOM_ID=T6.OBJID
        
      ]]>
      <dynamic prepend="WHERE">
        <isNotNull property="where.OBJID" prepend="AND">
          <![CDATA[T1.OBJID = #where.OBJID#]]>
        </isNotNull>
        <isNotNull property="where.BeginTime" prepend="AND">
          <![CDATA[T1.CHANGE_TIME >= #where.BeginTime#]]>
        </isNotNull>
        <isNotNull property="where.EndTime" prepend="AND">
          <![CDATA[T1.CHANGE_TIME <= #where.EndTime#]]>
        </isNotNull>
        <isNotNull property="where.EquipName" prepend="AND">
          <![CDATA[T3.EQUIP_NAME LIKE '%' || #where.EquipName# || '%']]>
        </isNotNull>
        <isNotNull property="where.EQUIP_ID" prepend="AND">
          <![CDATA[T1.EQUIP_ID = #where.EQUIP_ID#]]>
        </isNotNull>
        <isNotNull property="where.EquipPosition" prepend="AND">
          <![CDATA[T1.EQUIP_POSITION = #where.EquipPosition#]]>
        </isNotNull>
        <isNotNull property="where.MouldNo" prepend="AND">
          <![CDATA[T1.MOULD_NO LIKE '%' || #where.MouldNo# || '%']]>
        </isNotNull>
        <isNotNull property="where.LastMouldNo" prepend="AND">
          <![CDATA[T1.LAST_MOULD_NO LIKE '%' || #where.LastMouldNo# || '%']]>
        </isNotNull>
        <isNotNull property="where.MaterialId" prepend="AND">
          <![CDATA[T1.MATERIAL_ID = #where.MaterialId#]]>
        </isNotNull>
        <isNotNull property="where.LastMaterialId" prepend="AND">
          <![CDATA[T1.LAST_MATERIAL_ID = #where.LastMaterialId#]]>
        </isNotNull>
        <isNotNull property="where.MaterialName" prepend="AND">
          <![CDATA[T5.MATERIAL_NAME LIKE '%' || #where.MaterialName# || '%']]>
        </isNotNull>
        <isNotNull property="where.LastMaterialName" prepend="AND">
          <![CDATA[T6.MATERIAL_NAME LIKE '%' || #where.LastMaterialName# || '%']]>
        </isNotNull>
        <isNotNull property="where.MATERIAL_ID" prepend="AND">
          <![CDATA[T1.MATERIAL_ID = #where.MATERIAL_ID#]]>
        </isNotNull>
        <isNotNull property="where.LAST_MATERIAL_ID" prepend="AND">
          <![CDATA[T1.LAST_MATERIAL_ID = #where.LAST_MATERIAL_ID#]]>
        </isNotNull>
        <isNotNull property="where.DELETE_FLAG" prepend="AND">
          <![CDATA[T1.DELETE_FLAG = #where.DELETE_FLAG#]]>
        </isNotNull>
      </dynamic>
      <isNotNull property="OrderString" prepend=" ">
        ORDER BY $OrderString$
      </isNotNull>
    </select>
    <select id="Select+Update@CrudCimMouldChangeinfo" parameterClass="map" resultClass="row">
      <![CDATA[SELECT * FROM CIM_MOULD_CHANGEINFO ]]>
      <dynamic prepend="WHERE">
        <![CDATA[(OBJID = #OBJID#)]]>
      </dynamic>
    </select>
    
    <select id="Select@CrudCimMouldChangeinfo@MainDetail" parameterClass="map" resultClass="row">
      <![CDATA[
        SELECT T1.*, T2.USER_NAME RECORD_USER_NAME 
        , T3.EQUIP_NAME, T4.SHOW_NAME EQUIP_POSITION_CAPTION, T5.MATERIAL_NAME,T6.BOM_NAME
        FROM CIM_MOULD_CHANGEINFO T1 
        LEFT JOIN SSB_USER T2 ON T1.RECORD_USER_ID = T2.OBJID
        LEFT JOIN SBE_EQUIP T3 ON T1.EQUIP_ID = T3.OBJID 
        LEFT JOIN CBE_EQUIP_POSITION T4 ON T1.EQUIP_POSITION = T4.OBJID 
        LEFT JOIN cpp_curing_mould_plan TP ON T1.CHANGE_MOLD_PLANID=TP.OBJID
        LEFT JOIN SBM_MATERIAL T5 ON TP.MATERIAL_ID = T5.OBJID 
        LEFT JOIN v_sbm_bom T6 ON TP.BOM_ID=T6.OBJID
      ]]>
      <dynamic prepend="WHERE">
        <![CDATA[(T1.OBJID = #where.OBJID#)]]>
      </dynamic>
    </select>
    
    <!--查询物料信息，ID值固定为GetComboBoxData@Select@CrudCimMouldChangeinfo@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@CrudCimMouldChangeinfo@MaterialId" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      SELECT OBJID sskey,MATERIAL_NAME ssValue FROM V_CBM_MATERIAL WHERE DELETE_FLAG = '0' ORDER BY MATERIAL_NAME
     ]]>
    </select>

    <!--查询物料信息，ID值固定为GetComboBoxData@Select@CrudCimMouldChangeinfo@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@CrudCimMouldChangeinfo@LastMaterialId" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      SELECT OBJID sskey,MATERIAL_NAME ssValue FROM V_CBM_MATERIAL WHERE DELETE_FLAG = '0' ORDER BY MATERIAL_NAME
     ]]>
    </select>

    <!--查询左右模信息，ID值固定为GetComboBoxData@Select@CrudCimMouldChangeinfo@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@CrudCimMouldChangeinfo@EquipPosition" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      SELECT OBJID sskey,SHOW_NAME ssValue FROM CBE_EQUIP_POSITION WHERE DELETE_FLAG = '0' ORDER BY OBJID
     ]]>
    </select>
  </statements>
</sqlMap>
