<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Mesnac.FrameDb.Mapper.BusinessMapper.McUI"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <statements>
    <select id="Select@CrudCrtAlarmAuditUser" parameterClass="map" resultClass="row">
      <![CDATA[
      SELECT T1.*
      , T2.USER_NAME RECORD_USER_NAME 
      , T3.USER_NAME AUDIT_USER_NAME 
      FROM CRT_ALARM_AUDIT_USER T1 
      LEFT JOIN SSB_USER T2 ON T1.RECORD_USER_ID = T2.OBJID 
      LEFT JOIN SSB_USER T3 ON T1.AUDIT_USER_ID = T3.OBJID 
      ]]>
      <dynamic prepend="WHERE">
        <isNotNull property="where.OBJID" prepend="AND">
          <![CDATA[T1.OBJID = #where.OBJID#]]>
        </isNotNull>
        <isNotNull property="where.AUDIT_USER_NAME" prepend="AND">
          <![CDATA[T3.USER_NAME LIKE '%' || #where.AUDIT_USER_NAME# || '%']]>
        </isNotNull>
        <isNotNull property="where.DELETE_FLAG" prepend="AND">
          <![CDATA[T1.DELETE_FLAG = #where.DELETE_FLAG#]]>
        </isNotNull>
      </dynamic>
      <isNotNull property="OrderString" prepend=" ">
        ORDER BY $OrderString$
      </isNotNull>
    </select>
    <select id="Select+Update@CrudCrtAlarmAuditUser" parameterClass="map" resultClass="row">
      <![CDATA[SELECT * FROM CRT_ALARM_AUDIT_USER ]]>
      <dynamic prepend="WHERE">
        <![CDATA[(OBJID = #OBJID#)]]>
      </dynamic>
    </select>

    <!--查询人员信息，ID值固定为GetComboBoxData@Select@CrudCrtAlarmAuditUser@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@CrudCrtAlarmAuditUser@AUDIT_USER_ID" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      select t1.OBJID sskey,t1.USER_NAME ssValue from SSB_USER t1 where t1.DELETE_FLAG = '0'
     ]]>
      <isNotNull property="OrderString" prepend="">
        order by $OrderString$
      </isNotNull>
      <isNull property="OrderString" prepend="">
        order by t1.OBJID
      </isNull>
    </select>
  </statements>
</sqlMap>
