<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Mesnac.FrameDb.Mapper.BusinessMapper.McUI"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <statements>
    <select id="Select@CrudCrtBladderTensileHeight" parameterClass="map" resultClass="row">
      <![CDATA[
        SELECT T1.*, T2.USER_NAME RECORD_USER_NAME, T3.TYPE_NAME BLADDER_TYPE_NAME 
        FROM CRT_BLADDER_TENSILE_HEIGHT T1 
        LEFT JOIN SSB_USER T2 ON T1.RECORD_USER_ID = T2.OBJID 
        LEFT JOIN CBE_BLADDER_TYPE T3 ON T1.BLADDER_TYPE_ID = T3.OBJID
      ]]>
      <dynamic prepend="WHERE">
        <isNotNull property="where.OBJID" prepend="AND">
          <![CDATA[T1.OBJID = #where.OBJID#]]>
        </isNotNull>
        <isNotNull property="where.BLADDER_TYPE_ID" prepend="AND">
          <![CDATA[T1.BLADDER_TYPE_ID = #where.BLADDER_TYPE_ID#]]>
        </isNotNull>
        <isNotNull property="where.BLADDER_TYPE_NAME" prepend="AND">
          <![CDATA[T3.TYPE_NAME LIKE '%' || #where.BLADDER_TYPE_NAME# || '%']]>
        </isNotNull>
        <isNotNull property="where.DELETE_FLAG" prepend="AND">
          <![CDATA[T1.DELETE_FLAG = #where.DELETE_FLAG#]]>
        </isNotNull>
      </dynamic>
      <isNotNull property="OrderString" prepend=" ">
        ORDER BY $OrderString$
      </isNotNull>
    </select>
    <select id="Select+Update@CrudCrtBladderTensileHeight" parameterClass="map" resultClass="row">
      <![CDATA[SELECT * FROM CRT_BLADDER_TENSILE_HEIGHT ]]>
      <dynamic prepend="WHERE">
        <![CDATA[(OBJID = #OBJID#)]]>
      </dynamic>
    </select>

    <!--查询胶囊类型信息，ID值固定为GetComboBoxData@Select@CrudCrtBladderTensileHeight@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@CrudCrtBladderTensileHeight@BLADDER_TYPE_ID" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      select OBJID sskey,TYPE_NAME ssValue from CBE_BLADDER_TYPE where DELETE_FLAG = '0'
     ]]>
      <isNotNull property="OrderString" prepend="">
        ORDER BY $OrderString$
      </isNotNull>
      <isNull property="OrderString" prepend="">
        order by OBJID
      </isNull>
    </select>
  </statements>
</sqlMap>
