<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Mesnac.FrameDb.Mapper.BusinessMapper.McUI"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <statements>
    <select id="Select@SearchBoxCppCuringPlanDetail" parameterClass="map" resultClass="row">
      <![CDATA[ 
       select t2.*, t1.PLAN_DATE, t1.SHIFT_ID, t1.EQUIP_ID, t3.SHIFT_NAME, t4.EQUIP_NAME
       , t5.SHOW_NAME EQUIP_POSITION_CAPTION, t6.MATERIAL_NAME, t7.SHOW_NAME PLAN_STATE_CAPTION
       , t8.SHOW_NAME PLAN_TYPE_CAPTION 
       , to_char(t1.PLAN_DATE, 'yyyy-mm-dd') || ',' || t3.SHIFT_NAME || ',' || t4.EQUIP_NAME || ',' || t5.SHOW_NAME || ',' || t6.MATERIAL_NAME PLAN_DETAIL_NAME 
       from CPP_CURING_PLAN t1 
       join CPP_CURING_PLAN_DETAIL t2 on t1.OBJID = t2.Plan_Id 
       left join SSB_SHIFT t3 on t1.SHIFT_ID = t3.OBJID 
       left join SBE_EQUIP t4 on t1.EQUIP_ID = t4.OBJID 
       left join CBE_EQUIP_POSITION t5 on t2.EQUIP_POSITION = t5.OBJID 
       left join V_CBM_MATERIAL t6 on t2.MATERIAL_ID = t6.OBJID 
       left join CPP_CURING_PLAN_STATE t7 on t2.PLAN_STATE = t7.OBJID 
       left join CPP_CURING_PLAN_TYPE t8 on t2.PLAN_TYPE = t8.OBJID 
       where t1.DELETE_FLAG = 0 and t2.DELETE_FLAG = 0
      ]]>
      <dynamic>
        <isNotNull property="where.BEGIN_DATE" prepend="AND">
          <![CDATA[t1.PLAN_DATE >= #where.BEGIN_DATE#]]>
        </isNotNull>
        <isNotNull property="where.END_DATE" prepend="AND">
          <![CDATA[t1.PLAN_DATE <= #where.END_DATE#]]>
        </isNotNull>
        <isNotNull property="where.SHIFT_ID" prepend="AND">
          <![CDATA[t1.SHIFT_ID = #where.SHIFT_ID#]]>
        </isNotNull>
        <isNotNull property="where.EQUIP_ID" prepend="AND">
          <![CDATA[t4.EQUIP_NAME = #where.EQUIP_ID#]]>
        </isNotNull>
        <isNotNull property="where.EQUIP_POSITION" prepend="AND">
          <![CDATA[t2.EQUIP_POSITION = #where.EQUIP_POSITION#]]>
        </isNotNull>
        <isNotNull property="where.MATERIAL_ID" prepend="AND">
          <![CDATA[t2.MATERIAL_ID = #where.MATERIAL_ID#]]>
        </isNotNull>
        <isNotNull property="where.PLAN_STATE" prepend="AND">
          <![CDATA[t2.PLAN_STATE = #where.PLAN_STATE#]]>
        </isNotNull>
        <isNotNull property="where.PLAN_TYPE" prepend="AND">
          <![CDATA[t2.PLAN_TYPE = #where.PLAN_TYPE#]]>
        </isNotNull>
      </dynamic>
      <isNotNull property="OrderString" prepend="">
        order by $OrderString$
      </isNotNull>
    </select>

    <!--查询班次信息，ID值固定为GetComboBoxData@Select@SearchBoxCppCuringPlanDetail@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@SearchBoxCppCuringPlanDetail@SHIFT_ID" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      select OBJID sskey,SHIFT_NAME ssValue from SSB_SHIFT where DELETE_FLAG = '0'
     ]]>
      <isNotNull property="OrderString" prepend="">
        order by $OrderString$
      </isNotNull>
      <isNull property="OrderString" prepend="">
        order by OBJID
      </isNull>
    </select>

    <!--查询左右模信息，ID值固定为GetComboBoxData@Select@SearchBoxCppCuringPlanDetail@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@SearchBoxCppCuringPlanDetail@EQUIP_POSITION" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      select OBJID sskey,SHOW_NAME ssValue from CBE_EQUIP_POSITION where DELETE_FLAG = '0'
     ]]>
      <isNotNull property="OrderString" prepend="">
        order by $OrderString$
      </isNotNull>
      <isNull property="OrderString" prepend="">
        order by OBJID
      </isNull>
    </select>

    <!--查询计划状态信息，ID值固定为GetComboBoxData@Select@SearchBoxCppCuringPlanDetail@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@SearchBoxCppCuringPlanDetail@PLAN_STATE" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      select OBJID sskey,SHOW_NAME ssValue from CPP_CURING_PLAN_STATE where DELETE_FLAG = '0'
     ]]>
      <isNotNull property="OrderString" prepend="">
        order by $OrderString$
      </isNotNull>
      <isNull property="OrderString" prepend="">
        order by OBJID
      </isNull>
    </select>

    <!--查询计划状态信息，ID值固定为GetComboBoxData@Select@SearchBoxCppCuringPlanDetail@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@SearchBoxCppCuringPlanDetail@PLAN_TYPE" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      select OBJID sskey,SHOW_NAME ssValue from CPP_CURING_PLAN_TYPE where DELETE_FLAG = '0'
     ]]>
      <isNotNull property="OrderString" prepend="">
        order by $OrderString$
      </isNotNull>
      <isNull property="OrderString" prepend="">
        order by OBJID
      </isNull>
    </select>

  </statements>
</sqlMap>