<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Mesnac.FrameDb.Mapper.BusinessMapper.McUI"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <statements>
    <select id="Select@CrudSesSpareparts" parameterClass="map" resultClass="row">
      <![CDATA[
      SELECT T1.*
      , T2.USER_NAME RECORD_USER_NAME 
      , T3.MAJOR_TYPE_NAME, T3.MAJOR_TYPE_CODE
      , T4.MINOR_TYPE_NAME, T4.MINOR_TYPE_CODE
      FROM SES_SPAREPARTS T1 
      LEFT JOIN SSB_USER T2 ON T1.RECORD_USER_ID = T2.OBJID 
      LEFT JOIN SES_SPAREPARTS_MAJOR_TYPE T3 ON T1.MAJOR_TYPE_ID = T3.OBJID
      LEFT JOIN SES_SPAREPARTS_MINOR_TYPE T4 ON T1.MINOR_TYPE_ID = T4.OBJID
      ]]>
      <dynamic prepend="WHERE">
        <isNotNull property="where.OBJID" prepend="AND">
          <![CDATA[T1.OBJID = #where.OBJID#]]>
        </isNotNull>
        <isNotNull property="where.MinorTypeName" prepend="AND">
          <![CDATA[T1.MINOR_TYPE_NAME LIKE '%' || #where.MinorTypeName# || '%']]>
        </isNotNull>
        <isNotNull property="where.MinorTypeCode" prepend="AND">
          <![CDATA[T1.MINOR_TYPE_CODE = #where.MinorTypeCode#]]>
        </isNotNull>
        <isNotNull property="where.MajorTypeId" prepend="AND">
          <![CDATA[T1.MAJOR_TYPE_ID = #where.MajorTypeId#]]>
        </isNotNull>
        <isNotNull property="where.DELETE_FLAG" prepend="AND">
          <![CDATA[T1.DELETE_FLAG = #where.DELETE_FLAG#]]>
        </isNotNull>
      </dynamic>
      <isNotNull property="OrderString" prepend=" ">
        ORDER BY $OrderString$
      </isNotNull>
      <isNull property="OrderString" prepend=" ">
        ORDER BY T1.SPAREPARTS_CODE, T3.MAJOR_TYPE_CODE, T4.MINOR_TYPE_CODE, T1.OBJID
      </isNull>
    </select>
    <select id="Select+Update@CrudSesSpareparts" parameterClass="map" resultClass="row">
      <![CDATA[SELECT * FROM SES_SPAREPARTS ]]>
      <dynamic prepend="WHERE">
        <![CDATA[(OBJID = #OBJID#)]]>
      </dynamic>
    </select>

    <!--查询备件大类信息，ID值固定为GetComboBoxData@Select@CrudSesSpareparts@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@CrudSesSpareparts@MajorTypeId" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      select t1.OBJID sskey,t1.MAJOR_TYPE_NAME ssValue from SES_SPAREPARTS_MAJOR_TYPE t1 where t1.DELETE_FLAG = '0'
        order by t1.OBJID
     ]]>
    </select>

    <!--查询备件大类信息，ID值固定为GetComboBoxData@Select@CrudSesSpareparts@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@CrudSesSpareparts@MAJOR_TYPE_ID" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      select t1.OBJID sskey,t1.MAJOR_TYPE_NAME ssValue from SES_SPAREPARTS_MAJOR_TYPE t1 where t1.DELETE_FLAG = '0'
        order by t1.OBJID
     ]]>
    </select>

    <!--查询备件小类信息，ID值固定为GetComboBoxData@Select@CrudSesSpareparts@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@CrudSesSpareparts@MinorTypeId" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      select t1.OBJID sskey,t1.MINOR_TYPE_NAME ssValue from SES_SPAREPARTS_MINOR_TYPE t1 where t1.DELETE_FLAG = '0'
        order by t1.OBJID
     ]]>
    </select>

    <!--查询备件小类信息，ID值固定为GetComboBoxData@Select@CrudSesSpareparts@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@CrudSesSpareparts@MINOR_TYPE_ID" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      select t1.OBJID sskey,t1.MINOR_TYPE_NAME ssValue from SES_SPAREPARTS_MINOR_TYPE t1 where t1.DELETE_FLAG = '0'
        order by t1.OBJID
     ]]>
    </select>

    <!--查询设备细类信息，ID值固定为GetComboBoxData@Select@CrudSesStopFault@字段，id值不允许重复-->
    <select id="GetComboBoxData@Select@CrudSesSpareparts@MajorType" parameterClass="map" resultClass="Row">
      <![CDATA[ 
      select t1.MAJOR_TYPE_ID sskey,t1.OBJID ssValue from SES_SPAREPARTS_MINOR_TYPE t1 where t1.DELETE_FLAG = '0'
        order by t1.MAJOR_TYPE_ID, t1.OBJID
     ]]>
    </select>



  </statements>
</sqlMap>
